# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Docker
*.dockerignore
*.env
